---
import Nav from "./components/Nav";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Digital Artist">
    <h1>Astro</h1>
    <a href="/about">Go to About</a>
</MainLayout>
